<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dapperproject120170508120848.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.1</PublishFramework>
    <ProjectGuid>ea026ec2-5fc5-4340-871c-6a9c6e05e7fb</ProjectGuid>
    <MSDeployServiceURL>dapperproject120170508120848.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DapperProject120170508120848</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DapperProject120170508120848</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/09e78697-bd98-4748-bdce-199bc8b53f97/resourcegroups/DapperGroup/providers/Microsoft.Web/sites/DapperProject120170508120848</ResourceId>
    <ContainerResourceId>/subscriptions/09e78697-bd98-4748-bdce-199bc8b53f97/resourcegroups/DapperGroup/providers/Microsoft.ContainerRegistry/registries/registry20170508120955</ContainerResourceId>
    <ContainerResourceName>registry20170508120955</ContainerResourceName>
    <ResourceGroup>DapperGroup</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170508120955.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>