@model IEnumerable<DapperProject1.Repositories.ITeacherRepository>
@{
    ViewData["Title"] = "Teachers";

}

<h3>Teachers</h3>
<table class="table-condensed">

    <tr>

        <td>Processing</td>
    </tr>
    <tr>

    </tr>

</table>