@model IEnumerable<DapperProject1.Repositories.ITeacherRepository>


<table class="table-condensed">  
        <tr>
            <td>Scanning Completed!</td>
            <td> </td>
            <td><a href="~/Home/TeacherGrid">ShowTeachers</a></td>
        </tr>

    

</table>