@model IEnumerable<DapperProject1.Repositories.ITeacherRepository>
@{
    ViewData["Title"] = "Teachers";
    
}

<h3>Teachers</h3>
<table class="table-condensed">
    
    <tr>

        <td><a href="~/Home/DatabaseManipulation">Write data to DB</a></td>
    </tr>
        <tr>
            
            <td><a href="~/Home/TeacherGrid">ShowTeachers</a></td>
        </tr>
    
</table>