@model IEnumerable<DapperProject1.Models.ITeacherRepository>
@{
    ViewData["Title"] = "Teachers";
    
}

<h3>Teachers</h3>
<table class="table-condensed">
    
 
        <tr>
            
            <td><a href="~/Home/TeacherGrid">ShowTeachers</a></td>
        </tr>
    
</table>