@model IEnumerable<DapperProject1.Repositories.ITeacherRepository>
@{
    ViewData["Title"] = "Teachers";

}

<div id="preloader"><img src="http://preloaders.net/images/ajax-loader.gif" alt="AJAX loader" title="AJAX loader" /></div>
<div id="preloaderr"><b > DONE!  </b></div>
<div id="resultDiv"></div>
<style>
    #preloader {
        display: none;
    }
    #preloaderr {
        display: none;
    }
</style>
        <input type="button" class="btn btn-danger" onclick="makeRequest('/Home/DatabaseManipulation')" value="Write/Update data in DB" />
<script src="~/jquery.js"></script>
<script>
    function makeRequest(url) {
        $('#preloader').show();
        $.get(url, function (data) {
            $('#resultDiv').html(data);
            $('#preloader').hide();
        }).done(url, function (data) {
            $('#preloaderr').show;
        });
    }
</script>




