@model IEnumerable<DapperProject1.Repositories.ITeacherRepository>
@{
    ViewData["Title"] = "Teachers";

}


<script src="~/jquery.js"></script>
<h3>Teachers</h3>
<link type="text/css" rel="stylesheet" href="~/jsgrid-1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/jsgrid-1.5.3/jsgrid-theme.min.css" />

<script type="text/javascript" src="~/jsgrid-1.5.3/jsgrid.min.js"></script>
<div id="jsGrid"></div>


<script>

    $(function () {
        
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            //filtering: true,
            sorting: true,
            autoload: true,
            paging: true,
            
            pageSize: 3,
           
         //  pageCount: 2,
           

            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();
                    console.log(filter.pageSize);
                    console.log(filter.pageCount);
                    $.ajax({
                        url: "/Home/GetData",
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response);
                    });

                    return d.promise(filter);
                }
            },

            fields: [
                {
                    name: "url",
                    itemTemplate: function (value) {
                        return $("<a>").attr("href", value).text("Link");
                    }, width: 30, filtering: true
                },
                {
                    name: "italkiURL", itemTemplate: function (value) {
                        return $("<a>").attr("href", "https://" + value).text("Italki Link");
                    }, width: 35, filtering: true
                },
                { name: "firstName", type: "text", width: 20 },
                { name: "lastName", type: "text", width: 20 },
                { name: "numberOfStudents", type: "number", width: 25 },
                { name: "numberOfLessons", type: "number", width: 25 },
                { name: "rating", type: "number", width: 8 }
            ]
        });

    });
</script>
