@model IEnumerable<DapperProject1.ViewModels.TeacherView>
@{
    ViewData["Title"] = "Teachers";

}


<script src="~/jquery.js"></script>
<h3>Teachers</h3>
<link type="text/css" rel="stylesheet" href="~/jsgrid-1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/jsgrid-1.5.3/jsgrid-theme.min.css" />

<script type="text/javascript" src="~/jsgrid-1.5.3/jsgrid.min.js"></script>
<div id="jsGrid"></div>


<script>

    $(function () {
        
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            
            filtering: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            sorting: true,
            pageSize: 10,
           
         
           

            controller: {
                
                loadData: function (filter) {
                    
                    var d = $.Deferred();
                    console.log(filter);
                    
                    $.ajax({

                        url: "/Home/GetData?pageSize=" + filter.pageSize + " & pageIndex=" + filter.pageIndex + "& sortField="
                        + filter.sortField + "& sortOrder=" + filter.sortOrder + "& nickname=" + filter.nickname,
                        dataType: "json",

                        data: filter
                        
                    }).done(function (response) {
                            d.resolve(response);
                        });
                    

                    return d.promise(filter);
                }
            },
            headerRowRenderer: function () {
                var $result = $("<tr>").height(0)
                    .append($("<th>").width(70))
                    .append($("<th>").width(140));

                $result = $result.add($("<tr>")
                    .append($("<th>").attr("colspan", 5).text("№")))
                var $tr = $("<tr>");

                var grid = this;

                grid._eachField(function (field, index) {
                    var $th = $("<th>").text(field.title).width(field.width).appendTo($tr);

                    if (grid.sorting && field.sorting) {
                        $th.on("click", function () {
                            grid.sort(index);
                        });
                    }
                });

                return $result.add($("<tr>")
                    .append($("<th>").width(70).text(""))
                    .append($("<th>").width(70).text("Nickname").on("click", function () { grid.sort(1); }))
                    .append($("<th>").width(70).text("Country").on("click", function () { grid.sort(2); }))
                    .append($("<th>").width(70).text("Students").on("click", function () { grid.sort(3); }))
                    .append($("<th>").width(70).text("Lessons").on("click", function () { grid.sort(4); }))
                    .append($("<th>").width(70).text("#").on("click", function () { grid.sort(5); }))
                    .append($("<th>").width(70).text("Rating").on("click", function () { grid.sort(6); }))
                    .append($("<th>").width(70).text("URL").on("click", function () { grid.sort(7); }))
                    .append($("<th>").width(70).text("Italki URL").on("click", function () { grid.sort(8); }))
                );
            },

            fields: [
                
                    
                {name:  "id", type: "number", width:37},
                { name: "nickname", type: "text", width: 73 },
                { name: "country", type: "text", width: 72 },
                { name: "student_count", type: "number", width: 71 },
                { name: "session_count", type: "number", width: 70 },
                { name: "session_to_student", type: "number", width: 70 },
                { name: "rating", type: "number", width: 70 },
                {
                name: "url",
                itemTemplate: function (value) {
                    return $("<a>").attr("href", value).text("Link");
                }, width: 70, filtering: true
                },
                {
                    name: "italki_url", itemTemplate: function (value) {
                        return $("<a>").attr("href", "https://" + value).text("Italki Link");
                    }, width: 70, filtering: true
                }

            ]
        });

    });
</script>
