@model IEnumerable<DapperProject1.Models.Teacher>
@{
    ViewData["Title"] = "Teachers";

}


<script src="~/jquery.js"></script>
<h3>Teachers</h3>
<link type="text/css" rel="stylesheet" href="~/jsgrid-1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="~/jsgrid-1.5.3/jsgrid-theme.min.css" />

<script type="text/javascript" src="~/jsgrid-1.5.3/jsgrid.min.js"></script>
<div id="jsGrid"></div>


<script>

    $(function () {
        
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            
            sorting: true,
            autoload: true,
            paging: true,
            pageLoading: true,
            pageSize: 10,
           
         
           

            controller: {
                loadData: function (filter) {
                    var d = $.Deferred();
                    console.log(filter);
                    $.ajax({
                        url: "/Home/GetData?pageSize=" + filter.pageSize + " & pageIndex=" + filter.pageIndex,
                        dataType: "json",

                        data: filter
                    }).done(function (response) {
                            d.resolve(response);
                        });

                    return d.promise(filter);
                }
            },

            fields: [
                {
                    name: "url",
                    itemTemplate: function (value) {
                        return $("<a>").attr("href", value).text("Link");
                    }, width: 30, filtering: true
                },
                {
                    name: "italki_url", itemTemplate: function (value) {
                        return $("<a>").attr("href", "https://" + value).text("Italki Link");
                    }, width: 35, filtering: true
                },
                { name: "nickname", type: "text", width: 20 },
                { name: "country", type: "text", width: 20 },
                { name: "student_count", type: "number", width: 25 },
                { name: "session_count", type: "number", width: 25 },
                { name: "rating", type: "number", width: 8 }
            ]
        });

    });
</script>
